body {
    background-color: thistle;
}

.title {
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
}


ul {
    background-color: azure;
    text-align: center;
    font-size: 32px;
    margin : 10px;
}
ul li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgba(142, 204, 60, 0.568);
}